---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
{% include intro-header.html type='gallery' %}


<!-- Post Content -->
<article>
    <div class="container-fluid">
        <div class="row">

            <!-- Post Container -->
            <div class="post-container
                col-lg-10 col-lg-offset-1
                col-md-10 col-md-offset-1 ">

                {{ content }}

                <hr style="visibility: hidden;">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
                            data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                            Previous<br>
                            <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                            data-placement="top" title="{{page.next.title}}">
                            Next<br>
                            <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr style="visibility: hidden;">


            </div>

            <!-- Sidebar Container -->
            <div class="sidebar-container
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1 ">

                <!-- Featured Tags -->
                {% include featured-tags.html %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>

<!-- PhotoSwipe JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe-lightbox.umd.min.js"
    integrity="sha512-D16CBrIrVF48W0Ou0ca3D65JFo/HaEAjTugBXeWS/JH+1KNu54ZOtHPccxJ7PQ44rTItUT6DSI6xNL+U34SuuQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe.umd.min.js"
    integrity="sha512-BXwwGU7zCXVgpT2jpXnTbioT9q1Byf7NEXVxovTZPlNvelL2I/4LjOaoiB2a19L+g5za8RbkoJFH4fMPQcjFFw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
    integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const container = document.querySelector('.post-container');
        if (!container) return;

        const containerImages = container.querySelectorAll('img');
        const promises = Array.from(containerImages).map((img) => {
            return waitForImageLoad(img).then(() => {
                const src = img.getAttribute('src');
                const wrapper = document.createElement('a');
                wrapper.setAttribute('href', src);
                wrapper.setAttribute('class', 'pswp-item grid-item');
                wrapper.setAttribute('target', '_blank');
                wrapper.setAttribute('data-pswp-width', img.naturalWidth || 1920);
                wrapper.setAttribute('data-pswp-height', img.naturalHeight || 1080);

                const newImg = img.cloneNode(true);
                wrapper.appendChild(newImg);
                img.replaceWith(wrapper);
            });
        });

        Promise.all(promises).then(() => {
            const lightbox = new PhotoSwipeLightbox({
                gallery: '.post-container',
                children: 'a.pswp-item',
                pswpModule: PhotoSwipe,
            });
            lightbox.init();

            const paragraphs = document.querySelectorAll('p');
            paragraphs.forEach((p) => {
                const pswpItems = p.querySelectorAll('a.pswp-item');
                if (pswpItems.length > 0) {
                    const newDiv = document.createElement('div');
                    newDiv.className = 'grid';
                    while (p.firstChild) {
                        newDiv.appendChild(p.firstChild);
                    }
                    p.replaceWith(newDiv);
                }
            });

            const galleries = document.querySelectorAll('.grid'); // 获取所有 .grid 容器

            galleries.forEach((gallerygrid) => {
                const gridImages = gallerygrid.querySelectorAll('img');
                const imagePromises = Array.from(gridImages).map(waitForImageLoad);

                function calculateColumnWidth() {
                    return window.innerWidth > 992 ? 400 : Math.floor(window.innerWidth);
                }

                function calculateAndUpdateGridStyles() {
                    const columnWidth = calculateColumnWidth();
                    const gridItems = gallerygrid.querySelectorAll('.grid-item'); // 当前容器的子项
                    gridItems.forEach(item => item.style.maxWidth = `${columnWidth}px`);
                    return columnWidth;
                }

                const columnWidth = calculateAndUpdateGridStyles();

                Promise.all(imagePromises).then(() => {
                    const masonry = new Masonry(gallerygrid, {
                        itemSelector: '.grid-item',
                        columnWidth: columnWidth,
                        percentPosition: true,
                        gutter: 10,
                    });

                    window.addEventListener('resize', () => {
                        const newColumnWidth = calculateAndUpdateGridStyles();
                        masonry.columnWidth = newColumnWidth;
                        masonry.layout();
                    });
                });
            });
        });
    });

    function waitForImageLoad(img) {
        return new Promise((resolve) => {
            if (img.complete) {
                resolve();
            } else {
                img.onload = resolve;
                img.onerror = resolve;
            }
        });
    }
</script>


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
        var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js", function () {
        anchors.options = {
            visible: 'hover',
            placement: 'right',
            // icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link {
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top: -0.1em;
        }
    }
</style>
{% endif %}
